body {
  background-color: #4e4c4c;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.card {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
